#btnManageClient{
    -fx-background-color : rgb(104, 252, 221);
}
#btnTrainer{
    -fx-background-color : rgb(104, 252, 221);
}
#btnSupplier{
    -fx-background-color : rgb(104, 252, 221);
}
#btnStock{
    -fx-background-color : rgb(104, 252, 221);
}
#btnOrders{
    -fx-background-color : rgb(104, 252, 221);
}
#btnReport{
    -fx-background-color : rgb(104, 252, 221);
}
#btnLogOut{
    -fx-background-color : rgb(0, 0, 0);
}
#btnAdddetail{
    -fx-background-color : rgb(104, 252, 221);
}